
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}


header {
    padding: 40px 0;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}


